.hypothesis/
.mypy_cache/
.pytest_cache/
cache/
dao_treasury.egg-info/
dist/
env/
__pycache__/
.env
*.o
*.so
*.pyd
ops.txt
build/**/*.py
build/**/*.json
build/**/*.yaml
build/**/*.typed
build/**/Dockerfile