networks:
  dao_treasury:
  docker_eth_portfolio:
    external: true

services:
  grafana:
    image: grafana/grafana:12.2.1
    ports:
      - 127.0.0.1:${DAO_TREASURY_GRAFANA_PORT:-3004}:3000
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/summary/Monthly.json
      - GF_SERVER_ROOT_URL
      - GF_RENDERING_SERVER_URL=http://renderer:8091/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
      - GF_INSTALL_PLUGINS=volkovlabs-variable-panel,frser-sqlite-datasource
    volumes:
      - ~/.dao-treasury/:/app/dao-treasury-data
      - ./.grafana/provisioning/:/etc/grafana/provisioning/
    networks:
      - dao_treasury
      - docker_eth_portfolio
    restart: always

  renderer:
    platform: linux/amd64
    image: grafana/grafana-image-renderer:latest
    ports:
      - 127.0.0.1:${DAO_TREASURY_RENDERER_PORT:-8092}:8091
    environment:
      - ENABLE_METRICS=true
      - HTTP_PORT=8091
    networks:
      - dao_treasury
      - docker_eth_portfolio
    restart: always

  exporter:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DAO_TREASURY_VERSION: ""
    command: ["poetry", "run", "dao-treasury", "run"]
    environment:
      - IN_EXPORTER_CONTAINER=1
      - ETHERSCAN_TOKEN
      - BROWNIE_NETWORK_ID
      - DAO_TREASURY_GRAFANA_PORT
      - DAO_TREASURY_RENDERER_PORT
      - GRAFANA_HOST
      - GRAFANA_PORT
      - RENDERER_HOST
      - RENDERER_PORT
      - GRAFANA_URL=${GRAFANA_URL:-http://${GRAFANA_HOST:-grafana}:${GRAFANA_PORT:-3004}}
      - RENDERER_URL=${RENDERER_URL:-http://${RENDERER_HOST:-renderer}:${RENDERER_PORT:-8092}}
    volumes:
      - ~/.dao-treasury/:/app/dao-treasury-data
      - ~/.ypricemagic/:~/.ypricemagic
      - ~/.eth_portfolio/:~/.eth_portfolio
      - ~/.brownie/:~/.brownie
      - ./.grafana/provisioning/:/etc/grafana/provisioning/
      - ~/.dao-treasury/dao-treasury.sqlite:/app/dao-treasury-data/dao-treasury.sqlite
    networks:
      - dao_treasury
      - docker_eth_portfolio
    restart: unless-stopped
    depends_on:
      - grafana
      - renderer
