name: MyPy

on:
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/mypy.yaml'
      - 'pyproject.toml'
      - 'poetry.lock'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  mypy:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12" ]
        include:
          - os: ubuntu-latest
            poetry_path: ~/.local
          - os: macos-latest
            poetry_path: ~/.local
          - os: windows-latest
            poetry_path: ~\AppData\Roaming\pypoetry

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        persist-credentials: false
        
    - name: Setup Python (faster than using Python container)
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyversion }}
        cache: pip
        cache-dependency-path: |
            pyproject.toml
            poetry.lock

    - name: Restore cached Poetry installation
      id: cached-poetry
      uses: actions/cache/restore@v5
      with:
        path: ${{ matrix.poetry_path }}
        key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-0  # increment to reset cache
        
    - name: Install Poetry (Python3.8)
      if: steps.cached-poetry.outputs.cache-hit != 'true' &&  matrix.pyversion == '3.8'
      uses: snok/install-poetry@v1
      with:
        version: "1.8.5" 
        
    - name: Install Poetry
      if: steps.cached-poetry.outputs.cache-hit != 'true' && matrix.pyversion != '3.8'
      uses: snok/install-poetry@v1
      
    - name: Save Poetry cache
      if: steps.cached-poetry.outputs.cache-hit != 'true'
      uses: actions/cache/save@v5
      with:
        path: ${{ matrix.poetry_path }}
        key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-0  # increment to reset cache

    - name: Add Poetry to PATH on Windows
      if: runner.os == 'Windows'
      run: $env:Path += ";$env:USERPROFILE\.poetry\bin"

    - name: Install Dependencies
      run: poetry install --no-interaction

    - name: Run MyPy
      run: poetry run mypy ./dao_treasury --pretty --strict
